/* General Classes */

.furball-hidden {
  display: none !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://__MSG_@@extension_id__/MaterialIcons-Regular.woff2) format('woff2')
}

.furball-mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Standardizing the new navbar */

#topnav > .innerwrap {
  background: #25aff4 !important;
  overflow: hide !important;
  height: 49px !important;
}

#topnav > .innerwrap > div > ul > li {
  border-left: 0 !important;
  border-right: 0 !important;
  font-weight: bold !important;
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

#topnav > .innerwrap > div > ul > li:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

#topnav > .innerwrap > div > .logo {
  padding-top: 7px !important;
  height: 43px !important;
}

#topnav > .innerwrap > div > .search > input[type=text] {
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 45px !important;
  transition: background 0.15s !important;
  box-shadow: none;
  color: #fff !important;
  width: calc(100% - 20px) !important;
}

#topnav > .innerwrap > div > .search > input[type=text]:focus {
  background: rgba(0, 0, 0, 0.2) !important;
}

#topnav > .innerwrap > div > .search > input[type=text]::placeholder {
  color: #fff !important;
}

#topnav > .innerwrap > div > .search > input[type=submit] {
  background-image: url("/images/nav-search-glass.png") !important;
  position: absolute !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background-image: url("https://scratch.mit.edu/images/nav-search-glass.png") !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 14px 14px !important;
  width: 40px !important;
  height: 40px !important;
  border-right: 0 !important;
}

body:not(.editor) > #pagewrapper > #content {
  margin-top: 10px !important;
}

div.dropdown-menu.blue {
  background: #25aff4 !important;
  box-shadow: none !important;
  border: 0 !important;
  top: 40px !important;
}

.logout.divider#logout input[type=submit] {
  background-color: transparent !important;
}

.messages-icon {
  background-image: url("https://scratch.mit.edu/images/nav-notifications.png") !important;
  background-position: 50% !important;
  background-size: 45% !important;
}

.mystuff-icon {
  background-image: url("https://scratch.mit.edu/images/mystuff.png") !important;
  background-position: 50% !important;
  background-size: 45% !important;
}

#topnav .user-name.dropdown-toggle {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

#topnav .user-name.dropdown-toggle .user-icon {
  border-radius: 3px !important;
  border: none !important;
}

body[class] {
  background: #fcfcfc !important;
}

/* Standardize it on the wiki */

header {
  background: #25aff4 !important;
  overflow: hide !important;
  height: 49px !important;
}

header > .container > ul > li {
  border-right: 0 !important;
  font-weight: bold !important;
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

header > .container > ul > li > a {
  border-left: 0 !important;
}

header > .container > ul > li > a:hover {
  background-color: transparent !important;
}

header > .container > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

header > .container > .scratch {
  padding-top: 13px !important;
}

header > .container > ul.left > li:last-child {
  height: 49px;
  margin: 0 !important;
  padding: 0 !important;
}

header > .container > ul.left > li:last-child:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.search input[type=search] {
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 45px !important;
  height: 40px;
  transition: background 0.15s !important;
  box-shadow: none;
  color: #fff !important;
}

.search > input[type=search]:focus {
  background: rgba(0, 0, 0, 0.2) !important;
}

.search > input[type=search]::placeholder {
  color: #fff !important;
}

.search > input[type=submit] {
  position: absolute !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background-image: url("https://scratch.mit.edu/images/nav-search-glass.png") !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 14px 14px !important;
  width: 40px !important;
  height: 40px !important;
  border-right: 0 !important;
}

header + .main.container {
  margin-top: 10px !important;
}

/* Prettifying profiles */

#profile-data > .box-head {
  overflow: visible;
}

.avatar img {
  width: 70px !important;
  height: 70px !important;
  position: relative;
  bottom: 15px;
  right: 0;
  border: none !important;
  box-shadow: 1px 1px 3px #636363;
}

/* Make the forums pretty! */

.scrollable-quotes .post_body_html blockquote {
  max-height: 400px;
  overflow-y: scroll;
}

.postavatar > a > img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  right: 43px;
  bottom: 34px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #636363;
  transition: all 0.1s ease-in-out;
}

.postavatar > a > img:hover {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  position: relative;
  right: 45px;
  bottom: 36px;
  background-color: #fafafa;
  box-shadow: 1px 1px 5px #636363;
}

.postavatar > a {
  height: 0;
  width: 0;
  overflow: visible;
  padding: 0;
  margin: 0;
  display: inherit;
}

.blockpost .box {
  overflow: visible !important;
}

.blockpost .box-content {
  overflow: visible !important;
}

.blockpost .postleft {
  overflow: visible !important;
}

#id_body.markItUpEditor {
  resize: vertical;
}

.markItUpDropMenu {
  background: transparent !important;
  margin-right: 0px !important;
}

.markItUpDropMenu > ul {
  border: none !important;
  border-radius: 3px;
  max-height: 160px !important;
  max-width: 250px !important;
  overflow-x: visible !important;
  overflow-y: scroll !important;
  background: #25aff4 !important;
  padding: 0px !important;
}

.markItUpContainer {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 6px 0px 0px 0px !important;
}

.markItUpContainer textarea {
  border-radius: 0px !important;
  border: 0px !important;
  background: #f9f9f9;
  transition: all 0.1s !important;
}

.markItUpContainer iframe {
  border-radius: 0px !important;
  border: 0px !important;
  background: #f9f9f9;
}

.markItUpContainer textarea:focus {
  background-color: #f0f0f0;
  box-shadow: none !important;
}

.markItUpDropMenu > ul > li {
  border: none !important;
  border-radius: 0px !important;
  transition: background 0.1s;
}

.markItUpHeader > ul > .markItUpButton > a {
  text-indent: 0 !important;
  font-size: 18px !important;
  padding-top: 0 !important;
  background: transparent !important;
  transition: color 0.1s;
}

.markItUpHeader > ul > .markItUpButton > a:hover {
  color: rgb(92, 92, 92);
}

.markItUpDropMenu > ul > li:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

.markItUpDropMenu > ul > li > a {
  color: #ffffff !important;
}

/* Some classes for project pages */

.furball-ph-frame {
  margin-top: 10px;
  border: none;
}

/* Homepage tweaks */

.activity li img {
  padding-right: 0 !important;
  margin-right: 10px !important;
  border-radius: 100%;
  box-shadow: 1px 1px 1px rgb(153, 153, 153);
}

/* Night Mode */

.night-mode #navigation {
  background-color: #454545 !important;
}

.night-mode #view {
  background-color: #2b2b2b !important;
}

.night-mode .box {
  border: 1px solid #2b2b2b !important;
  background: #2b2b2b !important;
}

.night-mode .box > .box-header {
  background: #2b2b2b !important;
  padding: 8px 7px !important;
  border-top: 0px !important;
  color: #fefefe !important;
  border-bottom: 1px solid #d8d8d8 !important;
}

.night-mode .box > .box-content {
  background: #777 !important;
}

.night-mode .news-description > p {
  color: #fefefe !important;
}

.night-mode p, .night-mode h1, .night-mode h2, .night-mode h3, .night-mode h4, .night-mode h5, .night-mode h6 {
  color: #fefefe !important;
}

.night-mode #footer {
  background-color: #030303 !important;
}

.night-mode #footer select[name=language] {
  background-color: #3e3e3e !important;
}
