/* Standardizing the new navbar */

#topnav > .innerwrap {
  background: #25aff4 !important;
  overflow: hide !important;
  height: 49px !important;
}

#topnav > .innerwrap > div > ul > li {
  border-left: 0 !important;
  border-right: 0 !important;
  font-weight: bold !important;
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

#topnav > .innerwrap > div > ul > li:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

#topnav > .innerwrap > div > .logo {
  padding-top: 7px !important;
}

#topnav > .innerwrap > div > .search > input[type=text] {
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 45px !important;
  transition: background 0.15s !important;
  box-shadow: none;
  color: #fff !important;
  width: calc(100% - 20px) !important;
}

#topnav > .innerwrap > div > .search > input[type=text]:focus {
  background: rgba(0, 0, 0, 0.2) !important;
}

#topnav > .innerwrap > div > .search > input[type=text]::placeholder {
  color: #fff !important;
}

#topnav > .innerwrap > div > .search > input[type=submit] {
  background-image: url("/images/nav-search-glass.png") !important;
  position: absolute !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background-image: url("https://scratch.mit.edu/images/nav-search-glass.png") !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 14px 14px !important;
  width: 40px !important;
  height: 40px !important;
  border-right: 0 !important;
}

#pagewrapper > #content {
  margin-top: 10px !important;
}

div.dropdown-menu.blue {
  background: #25aff4 !important;
  box-shadow: none !important;
  border: 0 !important;
  top: 40px !important;
}

.logout.divider#logout input[type=submit] {
  background-color: transparent !important;
}

.messages-icon {
  background-image: url("https://scratch.mit.edu/images/nav-notifications.png") !important;
  background-position: 50% !important;
  background-size: 45% !important;
}

.mystuff-icon {
  background-image: url("https://scratch.mit.edu/images/mystuff.png") !important;
  background-position: 50% !important;
  background-size: 45% !important;
}

#topnav .user-name.dropdown-toggle {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

#topnav .user-name.dropdown-toggle .user-icon {
  border-radius: 3px !important;
  border: none !important;
}

body[class] {
  background: #fcfcfc !important;
}

/* Prettifying profiles */

#profile-data > .box-head {
  overflow: visible;
}

.avatar img {
  width: 70px !important;
  height: 70px !important;
  position: relative;
  bottom: 15px;
  right: 0;
  border: none !important;
  box-shadow: 1px 1px 3px #636363;
}

/* Make the forums pretty! */

.postavatar > a > img {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  position: relative;
  right: 39px;
  bottom: 32px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #636363;
  transition: all 0.1s ease-in-out;
}

.postavatar > a > img:hover {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  right: 41px;
  bottom: 34px;
  background-color: #fafafa;
  box-shadow: 1px 1px 5px #636363;
}

.postavatar > a {
  height: 0;
  width: 0;
  overflow: visible;
  padding: 0;
  margin: 0;
  display: inherit;
}

.blockpost .box {
  overflow: visible !important;
}

.blockpost .box-content {
  overflow: visible !important;
}

.blockpost .postleft {
  overflow: visible !important;
}
